version: "3"

services:
  auth-db:
    image: postgres:16-alpine
    container_name: auth-db
    restart: always
    environment:
      - POSTGRES_DB=auth_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=123456
    ports:
      - "5432:5432"

  product-db:
    image: postgres:16-alpine
    container_name: product-db
    restart: always
    environment:
      - POSTGRES_DB=product_db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=123456
    ports:
      - "5433:5432"
  
  sales-db:
    image: mongo:latest
    container_name: sales_db
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=123456
      - MONGO_INITDB_DATABASE=sales_db
    ports:
      - "27017:27017"
  
  sales-mq:
    image: rabbitmq:3-management
    container_name: sales-mq
    ports:
      - "5672:5672"
      - "25676:25676"
      - "15672:15672"
